/*-----------------------------------------------------------------------------------*/
/*	The following style is an example that you can use in the theme of your
/*      wordpress page. This example includes a responsive design of the table on
/*      devices with less than 1200 pixels. Also it add zebra striping. 
/*-----------------------------------------------------------------------------------*/
.huiskamers { 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.huiskamers-table th {
    border: 0px; 
    padding: 0.6em 0.5em;
    background: none;
}

.huiskamers-table tr.odd {
    background: #fff
}

.huiskamers-table tr.even {
    background: #f0f0f0
}

.huiskamers-table tr.odd.seeking-members {
    background: #C1FFC1
}

.huiskamers-table tr.even.seeking-members {
    background: #E7FFE7
}

.huiskamers-table td {
    border: 1px solid #7f7f7f; 
    padding: 0.5em 0.5em;
} 

.huiskamers-table div.seeking-members-message
{
    margin-top: 10px;
    font-style: italic;
}

@media (max-width: 1200px)  {
    /*Force table   to not be like tables anymore*/ 
   .huiskamers-table table, .huiskamers-table tbody, .huiskamers-table th, .huiskamers-table td, .huiskamers-table tr {
        display: block;
   }

   /*Hide table headers (but not display: none;, for accessibility)*/ 
   .huiskamers-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
   }
   
   .huiskamers-table tr { 
       border-top: 1px solid #ccc; 
       border-left: 1px solid #ccc; 
       border-right: 1px solid #ccc;
       margin-bottom: 20px;
   }

    .huiskamers-table tr.odd {
        background: #fff
    }

    .huiskamers-table tr.even {
        background: #fff
    }
    
    .huiskamers-table tr.odd.seeking-members  {
        background: #E7FFE7
    }

    .huiskamers-table tr.even.seeking-members  {
        background: #E7FFE7
    }

    .huiskamers-table td {
        /* Behave  like a "row" */
         border: none;
         border-bottom: 1px solid #ccc;
         position: relative;
         padding-left: 150px;
    }

    .huiskamers-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: 6px;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        /* call the attribute value of data-label and adds a string // */
        content: attr(data-label);
    }
}